@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-title {
  @apply text-black text-2xl font-semibold;
}

.input {
  @apply w-full border rounded border-gray-50 shadow-sm p-2 focus:outline-none focus:border-black focus:border;
}

.button {
  @apply text-white bg-blue-500 px-6 py-4 rounded w-full font-semibold text-lg cursor-pointer hover:bg-blue-600 active:bg-blue-700 active:shadow-lg transition-all ease-in;
}
